body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #0000ff;
}
button{
  border: aliceblue solid 1px;
  border-radius: 50px;
  font-size: 250px;
  height: 267px;
}
.j{
 color: white; 
}
