body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #0000ff;
}
button{
  border: solid 1px;
  border-radius: 5px;
  font-size: 14px;
  padding: 8px 16px;
  margin: 5px;
  border-color: rgb(240, 248, 255, 0.7);
  background-color: rgb(240, 248, 255, 0.7);
}
.j{
 color: white; 
}
