body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  aling-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #0000ff;
}
button{
  border: aliceblue solid 1px;
  border-radius: 30px;
  font-size: 10px;
  height: 17px;
}
